body {
    background-color:palevioletred;
    background-image: url(../imagenes/fondo.png);
    background-position: left top;
    background-repeat: repeat;
    /* background-size: cover; */ /* posibles valores cover y contain */
    background-attachment: fixed;
    font-family: 'Hind', sans-serif;
    color:black;
}
/* Creamos un estilo para el contenedor principal diferente a la clase .container de Bootstrap para no interferir en sus estilos */
.principal {
    background-color: rgba(255, 245, 235, 0.75);
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
}
/* ---------- Estilos generales --------- */
h1, h2, h3, h4, h5, h6 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:hotpink;
}
a, a:link, a:visited {
    color:palevioletred;
}
a:hover, a:focus {
    color: #A86721;
}
.btn {
    border-radius: 10px;
}
.btn-chol1, .btn-chol1:visited {
    background-color:hotpink;
    color: #fff;
}
.btn-chol1:hover, .btn-chol1:focus, .btn-chol1:visited {
    background-color: #D17A67;
    color: #fff;
}


/* ---------- Navegación principal --------- */
.nav-principal {
    margin-bottom: 50px;
    background-color:pink !important
}
.nav-principal a, .nav-principal a:link, .nav-principal a:visited {
    color:black;
}
.nav-principal a:hover, .nav-principal a:focus {
    color:deeppink;
}
.nav-principal .nav-link.active {
    color:aliceblue;
}

/* ---------- Carrusel Home ---------------*/
.carousel-home {
    margin-bottom: 40px;
}
.carousel-home h5 {
    color:aliceblue;
}

/* ------------Bloques internos ------------*/
.bloque-interno {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* ------------ Mapa ----------- */
.mapa-emb {
    margin-top: 20px;
    margin-bottom: 40px;
}
.mapa-emb .embed-responsive-item {
    width: 100%;
    height: 450px;
}